body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.8;
}
.header {
    display: flex;
    flex-direction: column;  /* Stacks items vertically on small screens */
    align-items: center;  /* Centers items horizontally */
    padding: 20px;
    background-color: #f4f4f4;
}
.info {
    text-align: center;
    width: 100%; /* Ensures full width for alignment */
}
.info h1 {
    margin: 0;
    color: #000; /* Black color for the name */
    font-size: 36px;
    text-align: center;
    line-height: 1.5;
}
.info h2 {
    margin: 0;
    color: #000; /* Black color for the name */
    font-size: 20px;
    text-align: center;
    font-weight: normal; /* Ensures the font weight is normal */
    line-height: 1.5;
}
.info p {
    color: #333; /* Dark gray for the text */
    line-height: 0.4;
}
.info a {
    color: #007BFF; /* Blue color for email link */
    text-decoration: none;
}
.info a:hover {
    text-decoration: underline;
}

.profile-pic img {
    width: 100px;  /* Smaller image size on smaller screens */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 50%;
    margin-bottom: 20px; /* Adds space below the image */
}

.container {
    width: 90%;  /* More suitable for smaller screens */
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    line-height: 1.8;
}
.container > h2 {
    margin: 0;
    color: #000; /* Black color for the name */
    font-size: 28px;
    text-align: left;
    font-weight: bold;    
}
.container > h3 {
    margin: 0;
    color: #000; /* Black color for the name */
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Makes images block level to allow centering with margin */
    margin: 0 auto; /* Centers images */
}
.container > ul {
    margin: 0;
    color: #000; /* Black color for the name */
    text-align: left;
    border-left: 0px solid #ccc; 
    border-right: 0px solid #ccc; 
    padding-left: 0px; 
    padding-right: 0px; 
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (orientation: landscape) {
    .header {
        flex-direction: row;  /* Original horizontal layout */
        justify-content: space-between;
        align-items: center; /* Align items vertically in center */
    }

    .info, .centered, .left-aligned {
        text-align: left;
    }

    .profile-pic img {
        width: 177px;  /* Original size */
    }

    .container {
        width: 60%;  /* Original width */
    }
    
    .container > ul {
        margin: 0;
        color: #000; /* Black color for the name */
        text-align: left;
        border-left: 1px solid #ccc; 
        border-right: 1px solid #ccc; 
        padding-left: 20px; 
        padding-right: 10px; 
        margin-left: 20px;
        margin-right: 20px;
    }
}
