body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Optional: sets a background color for the entire page */
    color: #333;
    line-height: 1.6;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
}
.info {
    flex: 1; /* Allows the container to expand */
    text-align: center; /* Defaults to center for the whole container */
}

.centered {
    text-align: center; /* Ensures content is centered */
    font-size: 20px;
}

.left-aligned {
    text-align: left; /* Ensures content is left-aligned */
    width: 100%; /* Takes full width to align left properly */
}
.profile-pic img {
    width: 177px; /* Adjust based on your preference */
    height: 200px;
    border-radius: 50%; /* Makes the image round */
    border: 0; /* Black border around the image */
}
.profile-pic {
    flex: 0; /* Ensures the image container does not grow and pushes the text to center */
}

.info h1 {
    margin: 0;
    color: #000; /* Black color for the name */
    font-size: 40px;
    justify-content: center;
}
.info p {
    margin: 5px 0;
    color: #333; /* Dark gray for the text */
}
.info a {
    color: #007BFF; /* Blue color for email link */
    text-decoration: none;
}
.info a:hover {
    text-decoration: underline;
}


.container {
    width: 60%; /* Sets the width of the container to 60% */
    margin: 0 auto; /* Centers the container horizontally */
    padding: 20px; /* Adds padding inside the container */
    background: white; /* Sets a background color for the content area */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better focus */
}

h1, h2, h3 {
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul > li {
    margin-bottom: 10px;
}

ul > li > ul {
    padding-left: 20px;
}

ul > li > ul > li {
    list-style-type: disc; /* Restores bullet points for nested lists */
}

a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
